body{
  color: rgb(5, 5, 46);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.navbar {
    display: flex; 
    justify-content: flex-start; 
    align-items: center; 
    background-color: #031c2d; 
    padding: 10px 20px; 
    box-shadow: 0 4px 6px rgba(239, 237, 237, 0.833); 
  }
  
  
  .navbar a {
    color: rgb(211, 237, 252); 
    text-decoration: none; 
    font-size: 18px; 
    font-weight: bold;
    margin-right: 20px; 
    transition: color 0.3s ease; 
  }
  
  
  .navbar a:hover {
    color: #a87028; 
  }
  